[submodule "plugins"]
	path = plugins
	url = https://github.com/Mzzkc/marianne-ai-plugins.git
[submodule "scores/rosetta-corpus"]
	path = scores/rosetta-corpus
	url = https://github.com/Mzzkc/marianne-rosetta-corpus.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/Mzzkc/marianne-compiler.git
